$color-orange:#fa5555;
$color-grey:#8a95a0;
$color-grey-light:#dcdfe6;
$color-blue:#2d97eb;
$color-blue-dark:#1989fa;
$color-black:#181a1c;
$color-white:#fff;
$color-normal:#545b62;
$color-red:#ff0000;
$color-gold:#d3b145;

$font-normal:14px;

$width-screen-min:1200px;